.vs/
obj/
Debug/
logs/
bin/

HttpWebRequest/bin/

*.cache
HttpWebRequest/packages/*

HttpWebRequest/HttpWebRequest/obj/*


HttpWebRequest/Doc/obj/*
HttpWebRequest/Doc/bin/*

HttpWebRequest/ConsoleApplication/bin/*
HttpWebRequest/ConsoleApplication/obj/*

HttpWebRequest/YK.Model/obj/*
HttpWebRequest/YK.Model/bin/*

HttpWebRequest/Yk.Web/obj/*
HttpWebRequest/Yk.Web/bin/*

HttpWebRequest/YK.Component/YK.Component/obj/*
HttpWebRequest/YK.Component/YK.Component/bin/*

HttpWebRequest/YK.Component/YK.Component.Office/obj/*
HttpWebRequest/YK.Component/YK.Component.Office/bin/*

HttpWebRequest/YK.Component/YK.Component.Attribute/obj/*
HttpWebRequest/YK.Component/YK.Component.Attribute/bin/*
